# EditorConfig is awesome: http://editorconfig.org
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

# top-most EditorConfig file
root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8

[*.java]
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
insert_final_newline = false
